*{
    box-sizing: border-box;
    margin:0;
    padding: 0;   
}

#hero{
    background:#1F2937;
    display: flex;
    flex-direction: column;
}

#navbar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

ul{
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

a{
    text-decoration: none;
}

h1{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

h2{
    font-size: 24px;
}

h1,h2{
    color: #F9FAF8;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    width: 50%;
}

main p{
    margin-bottom: 10px;
}


main p, a{
    font-size: 14px;
    color: #dee0e4;
}

main button{
    background: #3882f6;
    border-radius: 20%;
    color: white;
    padding: 0px 10px;
}

#info{
    padding: 20px 20px;
}

#info h2{
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.boxes{
    display:flex;
    justify-content:space-around;
}

.boxes div{
    border: 2px solid blue;
    border-radius: 20px;
    width: 100px;
    height: 100px;
}

.subtext{
    display: flex;
    justify-content: space-around;
}

#quote{
    background: #E5E7EB;
    text-align: center;
    padding: 30px 20px;
}

#quote p{
    font-style: italic;
    font-size: 36px;
    font-weight: 400;
    color: #1F2937;
    margin-bottom: 20px;
}

#quote span{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 20px;
}

#action{
    background: rgba(74, 210, 255, 0.973);
    border-radius: 20px;
    margin: 30px auto;
    padding: 25px;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#action p{
    color: #f9faf8;
}


#action button{
    align-self: flex-end;
    border: 2px solid white;
    padding: 0 10px;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    position: relative;
    bottom: 25px;
}

#action button:hover{
    cursor: pointer;
    color: rgb(0,0,200);
}


.call{
    color: #fff;
}